@if(step<=gameSteps){ <div class="flex-div-game flex-column">
  <ion-header>
    <ion-toolbar>
      <ion-buttons class="ion-padding-vertical ion-padding-start" slot="start">
        <ion-button id="back-button" color="light" size="large" shape="round"><ion-icon size="large" slot="icon-only"
            color="light" name="arrow-back"></ion-icon></ion-button>


        <ion-modal #modal trigger="back-button" [initialBreakpoint]="0.5" [breakpoints]="[0,0.5, 1]">
          <ng-template>
            <ion-toolbar class="ion-padding-vertical">
              <ion-title>Na pewno chcesz wyjść?</ion-title>
            </ion-toolbar>
            <ion-content>
              <div class="div-input flex-column ion-padding">
                <div>
                  <ion-button size="large" (click)="goBack(); modal.dismiss()"><ion-icon name="arrow-back"></ion-icon>
                    Tak</ion-button>
                  <ion-button size="large" (click)="modal.dismiss()">Graj dalej<ion-icon
                      name="play-circle"></ion-icon></ion-button>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-buttons>
      <ion-title>{{step}}/{{gameSteps}}</ion-title>
      <ion-progress-bar [value]="step / gameSteps"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding"></div>
  <ion-card class="ion-margin">
    <ion-card-content>
      <div class="equation">
        {{firstNumber}} {{optionSymbol}} {{secondNumber}} = <span></span>
      </div>
    </ion-card-content>
  </ion-card>
  <div>
    <ion-title class="ion-padding">Wybierz wynik:</ion-title>
    <div class="answer-section">
      @for(buttonNumber of buttonsNumbers; track buttonNumber) { <ion-button (click)="checkAnswer(buttonNumber, $event)"
        class="game-button scaleIn-animate">{{buttonNumber}}</ion-button>
      }

    </div>
  </div>

  </div>
  } @else if (step > gameSteps && gameSteps > badAnswers) {
  <div class="pyro">
    <div class="before"></div>
    <div class="after"></div>
  </div>
  <div class="flex-div-center flex-column">

    <div class="flex-center-noresize flex-column">
      <div class="big-text text-shadow">Gratulacje!</div>
      <ion-title class="fancy-color-1">Zdobywasz<span
          [innerHTML]="(gameSteps-badAnswers).toString()|fancyNumber"></span>
        <img class="star" src="../../assets/images/star.svg" class="star" alt="star" /></ion-title>
      <ion-list>
        <ion-list-header>
          <ion-label>Wynik</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Dobrych odpowiedzi: {{goodAnswers}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Złych odpowiedzi: {{badAnswers}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <ion-button size="large" class="scaleIn-animate" (click)="goBack()">Wyjdź<ion-icon size="default"
        name="thumbs-up"></ion-icon>
    </ion-button>
  </div>
  } @else if (gameSteps<= badAnswers) { <div class="flex-div-center flex-column">
    <div class="flex-center-noresize flex-column">
      <div class="big-text text-shadow">Przegrałes</div>
    </div>
    <ion-button size="large" class="scaleIn-animate" (click)="goBack()">Wyjdź<ion-icon size="default"
        name="thumbs-down"></ion-icon>
    </ion-button>
    </div>
    }