#container {
  display: center;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--ion-color-light);
  font-weight: bolder;
  font-size: 74px !important;
}

.title-secondary {
  color: var(--ion-color-light);
  font-weight: 400;
  font-size: 34px !important;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  width: 30px;
  height: 30px;
  // vertical-align: sub;
}
.lang {
  width: 25px;
  height: 25px;
}
