<!-- START HEADER -->
@if(language) {<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>
        {{points}}
      </ion-title>
      <ion-img class="star" src="../../assets/images/star.svg" alt="star"></ion-img>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
}
<!-- END HEADER -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="custom-bg">
    <div id="container">
      @if(!['start', 'game'].includes(folder) && language) {
      <ion-buttons class="ion-padding">
        <ion-button (click)="goBack()" size="large" shape="round"><ion-icon size="large" slot="icon-only" class=""
            name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      }
      <!-- PROFILE SECTION -->
      @if(folder =='profile' && language) {
      <div class="flex-div-top flex-column">
        <div class="img">
          <ion-img src="../../assets/images/logo.svg" class="logo" alt="logo"></ion-img>
        </div>
        <div class="big-text text-shadow">{{name}}</div>
        <div class="title-secondary">
          {{pointText}}: {{points}}
          <ion-img style="margin: 0 5px" class="star" src="../../assets/images/star.svg" class="star"
            alt="star"></ion-img>
        </div>
        <ion-toggle class="ion-padding " [enableOnOffLabels]="true" aria-label="Enable music" color="warning"
          [checked]="music" [(ngModel)]="music" (ionChange)="changeMusic($event)">
          <h2><ion-icon name="musical-note" class="icon-small"></ion-icon>{{musicText}}</h2>
        </ion-toggle>
        <ion-button size="large" id="open-modal" class="ion-padding-horizontal scaleIn-animate"
          expand="block">{{editName}}<ion-icon name="pencil" aria-hidden="true"></ion-icon></ion-button>
        <!-- START EDIT NAME MODAL -->
        <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.5" [breakpoints]="[0,0.5, 1]">
          <ng-template>
            <ion-toolbar class="ion-padding-vertical">
              <ion-title>{{editName}}</ion-title>
            </ion-toolbar>
            <ion-content>
              <div class="div-input flex-column">
                <ion-input #nameInput class="custom" fill="outline" placeholder="Tutaj wpisz imię" [counter]="true"
                  maxlength="30" [ngModel]="name"
                  (keydown.enter)="changeName(nameInput.value); modal.dismiss()"></ion-input>

                <div>
                  <ion-button size="large" (click)="modal.dismiss()"><ion-icon name="arrow-back"></ion-icon>
                    {{cancel}}</ion-button>
                  <ion-button id="saveButton" size="large"
                    (click)="changeName(nameInput.value); modal.dismiss()">{{save}}<ion-icon
                      name="checkmark"></ion-icon></ion-button>
                  <ion-toast class="custom-toast" trigger="saveButton" position="bottom" positionAnchor="header"
                    message="{{success}}" duration="2000"></ion-toast>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
        <!-- END EDIT NAME MODAL -->
      </div>
      }
      @else if (folder == 'start' && language) {
      <!-- START SECTION -->
      <div class="flex-div-center flex-column ion-padding-top">
        @for(page of appPages; track page.title) {
        <ion-button size="large" [routerLink]="[page.url]" style="width: 70%; max-width: 90%"><ion-icon
            class="ion-padding-end" name="{{page.icon}}"></ion-icon>
          {{page.title}}</ion-button>
        }
      </div>
      } @else if (folder == 'plus' && language) {
      <!-- CHOOSE GAME SECTION -->
      <div class="flex-div-top flex-column">
        @for(page of addPages; track page.title) {
        <ion-button size="large" [routerLink]="[page.url]" [queryParams]="page.queryParams"
          style="min-width: 80%; max-width: 90%" class="scaleIn-animate"><ion-icon size="small" class="ion-padding-end"
            name="{{page.icon}}"></ion-icon>
          <span [innerHTML]="page.title | fancyNumber"></span>
        </ion-button>
        }
      </div>

      } @else if (folder == 'minus' && language) {

      <div class="flex-div-top flex-column">
        @for(page of subtractPages; track page.title) {
        <ion-button size="large" [routerLink]="[page.url]" [queryParams]="page.queryParams"
          style="min-width: 80%; max-width: 90%" class="scaleIn-animate"><ion-icon size="small" class="ion-padding-end"
            name="{{page.icon}}"></ion-icon>
          <span [innerHTML]="page.title | fancyNumber"></span>
        </ion-button>
        }
      </div>
      } @else if (folder == 'multiplication' && language) {

      <div class="flex-div-top flex-column">
        @for(page of multiplicationPages; track page.title) {
        <ion-button size="large" [routerLink]="[page.url]" [queryParams]="page.queryParams"
          style="min-width: 80%; max-width: 90%" class="scaleIn-animate"><ion-icon size="small" class="ion-padding-end"
            name="{{page.icon}}"></ion-icon>
          <span [innerHTML]="page.title | fancyNumber"></span>
        </ion-button>
        }
      </div>
      } @else if (folder == 'divide' && language) {
      <div class="flex-div-top flex-column">
        @for(page of dividePages; track page.title) {
        <ion-button size="large" [routerLink]="[page.url]" [queryParams]="page.queryParams"
          style="min-width: 80%; max-width: 90%" class="scaleIn-animate"><ion-icon size="small" class="ion-padding-end"
            name="{{page.icon}}"></ion-icon>
          <span [innerHTML]="page.title | fancyNumber"></span>
        </ion-button>
        }
      </div>
      } @else if (folder == 'game' && language){
      <!-- GAME SECTION -->
      <app-game [type]="queryParams.type" [number]="queryParams.number" [option]="queryParams.option"></app-game>
      }
      @else if (!language && folder == 'start') {
      <!-- LANGUAGE SECTION -->
      <div class="ion-padding flex-div-no-nav flex-column">
        <div class="title text-shadow">{{welcome.WELCOME}}</div>
        <div class="img">
          <ion-img src="../../assets/images/logo.svg" class="logo" alt="logo"></ion-img>
        </div>
        <div class="title-secondary text-shadow">{{welcome.CHOOSE_LANG}}</div>
        <ion-button (click)="changeLang('EN')" class="btn" size="large">
          ENGLISH&nbsp;
          <ion-img src="../../assets/images/en.png" class="lang" alt="en"></ion-img>
        </ion-button>
        <br />
        <ion-button (click)="changeLang('PL')" size="large">
          POLSKI&nbsp;
          <ion-img src="../../assets/images/pl.png" class="lang" alt="pl"></ion-img>
        </ion-button>
      </div>

      }
    </div>
  </div>
  <!-- AD SECTION -->
  <ion-footer class="footer">
    <div class="ads-label">{{ads}}</div>
    <div class="ads">
      Ads
    </div>
  </ion-footer>
</ion-content>