<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      32 <img class="star" src="../../assets/images/star.svg" class="star" alt="star">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="custom-bg">
    <div id="container">
      <div class="title">
        Witaj!
      </div>
      <div class="img">
        <img src="../../assets/images/logo.png" class="logo" alt="logo">
      </div>
      <div class="title-secondary">Wybierz język:</div>
      <ion-button size="large">
        ENGLISH&nbsp;
        <img src="../../assets/images/en.png" class="lang" alt="en">
      </ion-button>
      <br>
      <ion-button size="large">
        POLSKI&nbsp;
        <img src="../../assets/images/pl.png" class="lang" alt="pl">
      </ion-button>
    </div>

  </div>
</ion-content>